.container{
    position: absolute;
    display: inline-block;
}
.subcontainer{
    color:red;
    background-color: aquamarine;
    font-size: 40px;
    letter-spacing: 2px;
    width:120px
}
.subcontainer:hover{
    color:red;
    background-color:greenyellow;
    font-size: 40px;
    letter-spacing: 2px;
}
.innercontainer{
  position: relative;
  display: none;
}
.innercontainer a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    background-color: antiquewhite;
    width:200px;
}
.innercontainer a:hover{
     background-color: burlywood;
}
.container:hover .innercontainer{
    display: block;
}

